@model dynamic

@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:authenticationtools@svenerikmatzen.info">authenticationtools@svenerikmatzen.info</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@svenerikmatzen.info">marketing@svenerikmatzen.info</a>
</address>